.post-comment {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.post-comment-avatar {
  float: left;
  margin-right: 10px;
}

.post-comment-author {
  font-weight: bold;
}

.post-comment-date {
  float: right;
  color: #aaa;
}
