.post-comment {
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-left: 3px solid transparent;
}

.post-comment:hover {
  border-left: 3px solid #269df1;
}

.post-comment-avatar {
  float: left;
  margin-right: 10px;
}

.post-comment-author {
  font-weight: bold;
}

.post-comment-date {
  float: right;
  color: #aaa;
}

.post-comment-body {
  margin-left: 50px;
}

.post-comment-actions {

}

.post-comment-actions button {
  border: 0;
  background: transparent;
  color: #aaa;
  font-size: 11px;
  padding: 5px 10px 5px 0;
}

.post-comment .post-comment-reply-btn{}

.post-comment.hide-edit-delete-btns .post-comment-edit-btn,
.post-comment.hide-edit-delete-btns .post-comment-delete-btn {
  display: none;
}

.post-comment.hide-edit-delete-btns:hover .post-comment-edit-btn,
.post-comment.hide-edit-delete-btns:hover .post-comment-delete-btn {
  display: inline-block;
}

.post-comment:hover .post-comment-reply-btn {
  color: #008cff;
}
  