.app-body {
  margin: 10px;
}

/**
 * 404 page
 */

.not-found-page {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.not-found-page .jumbo {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0,0,0,.4);
  letter-spacing: -9px;
}
.not-found-page h2 small{
  display: block;
}


.toolbar {
  border: 1px solid #eee;
  border-bottom: 0;
  background: #fafafa;
  padding: 5px;
  text-align: right;
}
.toolbar ul {
  margin: 0;
  padding: 0;
}
.toolbar ul  li{
  display: inline-block;
  list-style: none;
  margin-left: 3px;
}
