.post-comments {
  margin: 20px 0;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: rgba(0,0,0,.1) 0px 20px 30px;
}

.post-comments .no-comments {
  font-size: 11px;
  padding: 10px 10px 0;
  color: #aaa;
}

.new-comment {
  display: block;
  outline: 1px solid #ddd;
  background: #fafafa;
}

.new-comment input {
  border: 0px;
  padding: 10px;
  background: transparent;
}

.new-comment input[name=author] {
  width: 15%;
  border: 0px;
  padding: 10px;
  outline: none;
  border-right: 1px solid #ddd;
}
.new-comment input[name=body] {
  width: 85%;
  border: 0px;
  padding: 10px;
  outline: none;
}
