.vote-tool {
  display: inline-block;
  float: right;
}

.vote-tool .to-vote {
  position: absolute;
  right: 35px;
  border: 1px solid #ddd;
  box-shadow: rgba(0,0,0,.1) 2px 2px 5px;
}

.vote-tool .vote-result:hover .to-vote {
  display: block;
}

.vote-tool .vote-result .to-vote button {
  display: inline-block;
  background: #fff;
  border: 0;
  padding: 5px 10px;
}

.vote-tool .vote-result .to-vote .vote-like-it,
.vote-tool .vote-result .to-vote .vote-dislike-it {
  color: #aaa;
  outline: none;
}

.vote-tool .vote-result .to-vote:hover .vote-dislike-it {
  color: #d85757;
}

.vote-tool .vote-result .to-vote:hover .vote-like-it {
  color: #349af7;
}

.vote-tool .vote-result .to-vote .vote-dislike-it {
  border-right: 1px solid #eee;
}

.vote-tool .vote-result .to-vote .vote-like-it.active {
  background-color: #edf7ff;
  color: #349af7;
}

.vote-tool .vote-result .to-vote .vote-dislike-it.active {
  color: #d85757;
  background-color: #fff3f3;
}

.vote-tool .vote-result .to-vote .vote-like-it span {
  margin-right: 5px;
}

.vote-tool .vote-result .to-vote .vote-dislike-it span {
  margin-left: 5px;
}


/**
 * small version
 */
 .vote-tool.small {
   display: inline-block;
   float: none;
 }

 .vote-tool.small .to-vote {
   position:relative;
   right: auto;
   box-shadow: none;
   border: 0;
 }

 .vote-tool.small .vote-result .to-vote button {
   padding: 4px 5px;
 }

 .vote-tool.small .vote-result .to-vote .vote-dislike-it {
   border-right: 0;
 }
 .vote-tool.small .vote-result .to-vote .vote-like-it,
 .vote-tool.small .vote-result .to-vote .vote-dislike-it {
   border-radius: 10px
 }

 .vote-tool.small .vote-result .to-vote .vote-like-it.active,
 .vote-tool.small .vote-result .to-vote .vote-dislike-it.active {
 }
