.post-wrapper {
}

.post {
  padding: 20px;
}

.post-wrapper .post{
  box-shadow: rgba(0,0,0,.1) 5px 5px 20px;
}

.post .post-title{
}

.post .post-title .post-author{
  display: block;
}

.post .post-body{
  padding: 15px 5px;
}
